Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: crystal tool format {staged_files}
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: bin/ameba --fix {staged_files}
      stage_fixed: true
    lychee:
      glob: "*.md"
      run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

ci: fix windows build (#100)
  .github/workflows/build.yml
Due: none

fix: clean huge fixtures, remove unecessary tests
  spec/coverage_reporter/parsers/clover_parser_spec.cr
  spec/fixtures/clover/clover-phpcsutils.xml
  spec/fixtures/clover/clover-unleash.xml
  spec/fixtures/clover/clover.xml
Due: format, ameba

fix: make test
  src/coverage_reporter/parser.cr
Due: format, ameba

chore: shards update (ameba)
  shard.lock
Due: none

chore: remove unecessary lines
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba

feat: tests for clover-unleash.xml branches
  spec/coverage_reporter/parsers/clover_parser_spec.cr
Due: format, ameba

fix: README
  README.md
Due: lychee

upd: add new condition to matches?
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba

upd: clover basic implementation (WIP)
  spec/coverage_reporter/parsers/clover_parser_spec.cr
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba

fix: number of hits for if/else branches
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba

wip: copy java with small edits
  spec/coverage_reporter/parsers/clover_parser_spec.cr
  spec/fixtures/clover/clover.xml
  src/coverage_reporter/parser.cr
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba

upd: matches and globs
  spec/coverage_reporter/parsers/clover_parser_spec.cr
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba

chore: ameba --fix
  spec/coverage_reporter/parsers/clover_parser_spec.cr
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba

upd: updates for unleash xml (wip)
  spec/coverage_reporter/parsers/clover_parser_spec.cr
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba

upd: parse phpcsutils and unleash xmls (wip)
  spec/coverage_reporter/parsers/clover_parser_spec.cr
  spec/fixtures/clover/clover-phpcsutils.xml
  spec/fixtures/clover/clover-unleash.xml
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba

feat: add support for Clover PHP parser (clover.xml files) (#99)
  README.md
  shard.lock
  spec/coverage_reporter/parsers/clover_parser_spec.cr
  spec/fixtures/clover/clover-phpcsutils.xml
  spec/fixtures/clover/clover-unleash.xml
  spec/fixtures/clover/clover.xml
  src/coverage_reporter/parser.cr
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba, lychee

0.6.5: add support for Clover PHP parser
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

Improve README
  README.md
Due: lychee

Mention Clover XML in README
  README.md
Due: lychee

ci: add windows tests
  .github/workflows/ci.yml
Due: none

ci: try skip postinstall on windows
  .github/workflows/ci.yml
Due: none

ci: add sqlite3 lib on windows setup
  .github/workflows/ci.yml
Due: none

fix: windows install works for ameba now
  .github/workflows/ci.yml
Due: none

Revert "fix: install shards on Windows as usual"
  .github/workflows/ci.yml
Due: none

fix: install shards on Windows as usual
  .github/workflows/ci.yml
Due: none

fix: skip installing executables on windows
  .github/workflows/ci.yml
Due: none

docs: improve README (#101)
  README.md
Due: lychee

docs: mention Clover XML in README (#102)
  README.md
Due: lychee

wip
  .github/workflows/build.yml
Due: none

(wip) test openssl version
  src/coverage_reporter/api.cr
Due: format, ameba

(wip) add flag and config to force insecure requests
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/config.cr
  src/coverage_reporter/openssl_version.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

add: Api.with_ssl_errors_handling
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
Due: format, ameba

fix: typo
  src/coverage_reporter/api.cr
Due: format, ameba

upd: remove unchanged lines
  src/coverage_reporter/api.cr
Due: format, ameba
