Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

format:
  run: crystal tool format {staged_files}
  stage_fixed: true

ameba:
  run: bin/ameba --fix {staged_files}
  stage_fixed: true

lychee:
  run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

fix: refactor reporter and add more tests
  spec/coverage_reporter/cli/cmd_spec.cr
  spec/spec_helper.cr
  spec/support/reporter_mock.cr
  src/cli.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/log.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

fix: tls and simplecov condition number
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

fix: use record instead of struct
  src/coverage_reporter/reporter.cr
Due: format, ameba

fix: tls to nil
  src/coverage_reporter/api/webhook.cr
Due: format, ameba

fix: handle redirects
  spec/coverage_reporter/api/jobs_spec.cr
  spec/coverage_reporter/api/webhook_spec.cr
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
Due: format, ameba

feat: gzip payloads (#82)
  .ameba.yml
  shard.lock
  shard.yml
  spec/coverage_reporter/api/jobs_spec.cr
  spec/coverage_reporter/api/webhook_spec.cr
  spec/coverage_reporter/cli/cmd_spec.cr
  spec/spec_helper.cr
  spec/support/reporter_mock.cr
  src/cli.cr
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/log.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

0.6.0: Upload Gzipped data
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: add Xcode Cloud ci support
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/xcode_cloud.cr
  src/coverage_reporter/config.cr
Due: format, ameba

feat: add Xcode Cloud CI support (#89)
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/xcode_cloud.cr
  src/coverage_reporter/config.cr
Due: format, ameba

0.6.1: add Xcode Cloud CI support
  README.md
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba, lychee

fix: new crystal version and coveralls parser
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Makefile
  src/coverage_reporter/parser.cr
Due: format, ameba

chore: update dependencies
  shard.lock
Due: none

fix: use ameba from master
  shard.lock
  shard.yml
Due: none

fix: new Crystal version and Coveralls parser (#90)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Makefile
  shard.lock
  shard.yml
  src/coverage_reporter/parser.cr
Due: format, ameba

feature: add measure option
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/parsers/lcov_parser_spec.cr
  spec/fixtures/lcov/coverage/test.lcov
  spec/fixtures/lcov/for-base-path-lcov
  spec/fixtures/lcov/index.js
  spec/fixtures/lcov/lib/run.js
  spec/fixtures/lcov/test-current-folder.lcov
  spec/fixtures/lcov/test.js
  spec/fixtures/lcov/test.lcov
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

fix(lcov): don't read through the file to cound lines
  src/coverage_reporter/parsers/lcov_parser.cr
Due: format, ameba

ci: use new cli options and add time measurement
  .github/workflows/ci.yml
Due: none

chore: add -m/--measure options to tests
  spec/coverage_reporter/cli/cmd_spec.cr
Due: format, ameba

chore: log prettier measurement info
  src/coverage_reporter/reporter.cr
Due: format, ameba

feature: add measure option and optimise LCOV parsing (#91)
  .github/workflows/ci.yml
  spec/coverage_reporter/cli/cmd_spec.cr
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/parsers/lcov_parser_spec.cr
  spec/fixtures/lcov/coverage/test.lcov
  spec/fixtures/lcov/for-base-path-lcov
  spec/fixtures/lcov/index.js
  spec/fixtures/lcov/lib/run.js
  spec/fixtures/lcov/test-current-folder.lcov
  spec/fixtures/lcov/test.js
  spec/fixtures/lcov/test.lcov
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

0.6.2: add measurement, optimize LCOV parser, use Crystal 1.9.0
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: add no fail option
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

docs: add no-fail option to README
  README.md
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba, lychee

chore: add a test
  spec/coverage_reporter/cli/cmd_spec.cr
Due: format, ameba

feat(cli): add --no--fail option (#93)
  README.md
  spec/coverage_reporter/cli/cmd_spec.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba, lychee

0.6.3: add --no-fail option
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: allow create build on done request
  spec/coverage_reporter/api/webhook_spec.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

chore: add tests
  spec/coverage_reporter/cli/cmd_spec.cr
Due: format, ameba

fix: remove --create-build option
  spec/coverage_reporter/api/webhook_spec.cr
  spec/coverage_reporter/cli/cmd_spec.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

feat: pass more params on webhook request (#94)
  spec/coverage_reporter/api/webhook_spec.cr
  spec/coverage_reporter/cli/cmd_spec.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

fix: optimize lcov parser
  src/coverage_reporter/parsers/lcov_parser.cr
Due: format, ameba

fix: optimize lcov parser (#95)
  src/coverage_reporter/parsers/lcov_parser.cr
Due: format, ameba

0.6.4: improve LCOV parsing speed
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

ci: use push builds for all branches
  .github/workflows/ci.yml
Due: none

test: use staging endpoint
  .github/workflows/ci.yml
Due: none

test: only push
  .github/workflows/ci.yml
Due: none

test: dummy commit
  .github/workflows/ci.yml
Due: none

test: another dummy build
  .github/workflows/ci.yml
Due: none

ci: fix windows build
  .github/workflows/build.yml
Due: none

fix: use newer directory
  .github/workflows/build.yml
Due: none

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  lychee: any of: *.md
