Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: crystal tool format {staged_files}
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: bin/ameba --fix {staged_files}
      stage_fixed: true
    lychee:
      glob: "*.md"
      run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

docs: update links
  README.md
Due: lychee

docs: add a not about conversion
  README.md
Due: lychee

docs: extend supported ENVs
  README.md
  doc/configuration.md
Due: lychee

docs: update readme (#31)
  README.md
  doc/configuration.md
  doc/examples/circleci-orb.yml
  doc/examples/circleci.yml
  doc/examples/github-actions-default.yml
  doc/examples/github-actions.yml
  lefthook.yml
Due: lychee

ci: add auto bump homebrew tap
  .github/workflows/build.yml
Due: none

fix: clear ENV before running the suit
  spec/spec_helper.cr
Due: format, ameba

ci: add auto bump homebrew tap (#33)
  .github/workflows/build.yml
  spec/spec_helper.cr
Due: format, ameba

0.2.12: extend ENVs support
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: add compare_ref option
  spec/coverage_reporter/config_spec.cr
  spec/coverage_reporter/reporter_spec.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/config.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

docs: update configuration
  doc/configuration.md
Due: lychee

feat: add compare_sha option
  doc/configuration.md
  spec/coverage_reporter/config_spec.cr
  spec/coverage_reporter/reporter_spec.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/config.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba, lychee

docs: update README
  README.md
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba, lychee

feat: add compare_ref and compare_sha options (#34)
  README.md
  doc/configuration.md
  spec/coverage_reporter/config_spec.cr
  spec/coverage_reporter/reporter_spec.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/config.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba, lychee

0.2.13: add compare_ref and compare_sha options
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: add service_job_url option
  .gitignore
  doc/configuration.md
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/circle_ci.cr
  src/coverage_reporter/ci/generic.cr
  src/coverage_reporter/ci/github.cr
  src/coverage_reporter/ci/options.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba, lychee

chore: fix tests
  spec/coverage_reporter/cli/cmd_spec.cr
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/gitlab.cr
Due: format, ameba

feat: add service_job_url option (#35)
  .gitignore
  doc/configuration.md
  spec/coverage_reporter/cli/cmd_spec.cr
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/circle_ci.cr
  src/coverage_reporter/ci/generic.cr
  src/coverage_reporter/ci/github.cr
  src/coverage_reporter/ci/gitlab.cr
  src/coverage_reporter/ci/options.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba, lychee

feat: add an option to force coverage format
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/reporter_spec.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/parser.cr
  src/coverage_reporter/parsers/base_parser.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

feat: add an option to force coverage format (#37)
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/reporter_spec.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/parser.cr
  src/coverage_reporter/parsers/base_parser.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

0.2.14: add --service-job-url and --format options
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

docs: update formats
  README.md
Due: lychee

docs: update formats (#38)
  README.md
Due: lychee

Document secure download command for CI.
  README.md
Due: lychee

docs: add examples with shasum check
  README.md
  doc/examples/circleci.yml
  doc/examples/github-actions.yml
Due: lychee

fix: jenkins ci
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/jenkins.cr
Due: format, ameba

fix: jenkins ci (#39)
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/jenkins.cr
Due: format, ameba

0.2.15: fix jenkins CI vars
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

chore: add source_digest to all parsers
  src/coverage_reporter/parsers/base_parser.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

chore: add source_digest to all parsers (#40)
  src/coverage_reporter/parsers/base_parser.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

fix: normalize paths
  src/coverage_reporter/file_report.cr
Due: format, ameba

fix: normalize paths (#41)
  src/coverage_reporter/file_report.cr
Due: format, ameba

0.2.16: normalize paths and use source_digest
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: spacing
  src/coverage_reporter/parser.cr
Due: format, ameba

fix: allow empty coverage for cobertura
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/parser.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
Due: format, ameba

chore: add test with empty coverage
  spec/fixtures/cobertura/cobertura.xml
Due: none

fix: allow empty coverage for cobertura (#43)
  spec/fixtures/cobertura/cobertura.xml
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/parser.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
Due: format, ameba

0.2.17: fix cobertura parser
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: jacoco parsing fix: use max? instead of max
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
Due: format, ameba

chore: add spec
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
  spec/fixtures/jacoco/jacoco-report.xml
Due: format, ameba

fix: jacoco parsing (#46)
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
  spec/fixtures/jacoco/jacoco-report.xml
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
Due: format, ameba
