Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: crystal tool format {staged_files}
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: bin/ameba --fix {staged_files}
      stage_fixed: true
    lychee:
      glob: "*.md"
      run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

0.2.18: jacoco format parsing fix
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: allow specifying endpoint in yaml config
  spec/coverage_reporter/api/jobs_spec.cr
  spec/coverage_reporter/api/webhook_spec.cr
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/config.cr
  src/coverage_reporter/yaml_config.cr
Due: format, ameba

Update README.md
  README.md
Due: lychee

feat: allow specifying endpoint in yaml config (#48)
  spec/coverage_reporter/api/jobs_spec.cr
  spec/coverage_reporter/api/webhook_spec.cr
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/config.cr
  src/coverage_reporter/yaml_config.cr
Due: format, ameba

fix: golang detector regexp
  spec/coverage_reporter/parsers/golang_parser_spec.cr
  spec/fixtures/golang/coverage-dashes.out
  src/coverage_reporter/parsers/golang_parser.cr
Due: format, ameba

fix: improve golang detector regexp (#49)
  spec/coverage_reporter/parsers/golang_parser_spec.cr
  spec/fixtures/golang/coverage-dashes.out
  src/coverage_reporter/parsers/golang_parser.cr
Due: format, ameba

0.2.20: improve golang coverage detector
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: posix paths
  src/coverage_reporter/file_report.cr
Due: format, ameba

fix: posix paths (#50)
  src/coverage_reporter/file_report.cr
Due: format, ameba

0.3.0: force posix paths
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix(env): add 0 as false value
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

fix: treat 0 as false value (#51)
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

0.3.1: treat 0 in COVERALLS_PARALLEL env as false value
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: remove service_job_number, add service_number, pull_request
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/gitlab.cr
Due: format, ameba

fix: options for Gitlab CI (#52)
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/gitlab.cr
Due: format, ameba

0.3.2: fix options for Gitlab CI
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

test: coveralls staging test: report to staging
  .github/workflows/ci.yml
Due: none

chore: add debug
  .github/workflows/ci.yml
Due: none

feat: add allow empty coverage flag
  README.md
  doc/configuration.md
  spec/coverage_reporter/reporter_spec.cr
  src/coverage_reporter/base_exception.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/parser.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba, lychee

chore: add tests on CLI options
  .ameba.yml
  spec/coverage_reporter/cli/cmd_spec.cr
Due: format, ameba

feat: add allow empty coverage flag (#54)
  .ameba.yml
  README.md
  doc/configuration.md
  spec/coverage_reporter/cli/cmd_spec.cr
  spec/coverage_reporter/reporter_spec.cr
  src/coverage_reporter/base_exception.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/parser.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba, lychee

0.3.3: add allow-empty coverage reports option
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: try lcov file path as the base for covered files
  src/coverage_reporter/parsers/lcov_parser.cr
Due: format, ameba

chore: add tests
  spec/coverage_reporter/parsers/lcov_parser_spec.cr
  spec/fixtures/lcov/test-current-folder.lcov
Due: format, ameba

fix: walk parent directories
  src/coverage_reporter/parsers/lcov_parser.cr
Due: format, ameba

chore: add test for parent folders
  spec/coverage_reporter/parsers/lcov_parser_spec.cr
  spec/fixtures/lcov/coverage/test.lcov
Due: format, ameba

fix: try to find sources in parent folders of LCOV coverage file (#57)
  spec/coverage_reporter/parsers/lcov_parser_spec.cr
  spec/fixtures/lcov/coverage/test.lcov
  spec/fixtures/lcov/test-current-folder.lcov
  src/coverage_reporter/parsers/lcov_parser.cr
Due: format, ameba

0.3.4: better source files resolution for LCOV parser
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

Semaphore: Correct ENV variables
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/semaphore.cr
Due: format, ameba

fix(semaphore): correct ENV variables (#56)
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/semaphore.cr
Due: format, ameba

0.3.5: update Semaphore CI support
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: add info headers
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/file_report.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

feat: add coverage files list
  spec/coverage_reporter/api/jobs_spec.cr
  spec/coverage_reporter/api/webhook_spec.cr
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/parser.cr
  src/coverage_reporter/source_files.cr
Due: format, ameba

chore: remove redundant methods
  src/coverage_reporter/source_files.cr
Due: format, ameba

feat: add info headers (#58)
  spec/coverage_reporter/api/jobs_spec.cr
  spec/coverage_reporter/api/webhook_spec.cr
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/file_report.cr
  src/coverage_reporter/parser.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
  src/coverage_reporter/source_files.cr
Due: format, ameba

chore: bump crystal chore: bump Crystal to 1.7.3
  .github/workflows/build.yml
  Dockerfile
  Makefile
Due: none

chore: bump Crystal to 1.7.3 (#59)
  .github/workflows/build.yml
  Dockerfile
  Makefile
Due: none

0.3.6: add context in HTTP headers
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: remove sha256sum checks for Github actions example
  doc/examples/github-actions.yml
Due: none

docs: add semaphore example
  doc/examples/semaphore.yml
Due: none
