Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

format:
  run: crystal tool format {staged_files}
  stage_fixed: true

ameba:
  run: bin/ameba --fix {staged_files}
  stage_fixed: true

lychee:
  run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

wip
  .github/workflows/build.yml
Due: none

wip
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Revert "upd: remove unchanged lines"
  src/coverage_reporter/api.cr
Due: format, ameba

Revert "fix: typo"
  src/coverage_reporter/api.cr
Due: format, ameba

Revert "add: Api.with_ssl_errors_handling"
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
Due: format, ameba

Revert "(wip) add flag and config to force insecure requests"
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/config.cr
  src/coverage_reporter/openssl_version.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

Revert "(wip) test openssl version"
  src/coverage_reporter/api.cr
Due: format, ameba

add: throubleshooting section to the readme with OpenSSL error
  README.md
Due: lychee

Update build.yml
  .github/workflows/build.yml
Due: none

Update README.md
  README.md
Due: lychee

Update ci.yml
  .github/workflows/ci.yml
Due: none

Fix minor typo in README
  README.md
Due: lychee

Fix minor typo in README (#106)
  README.md
Due: lychee

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  lychee: any of: *.md
