Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: crystal tool format {staged_files}
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: bin/ameba --fix {staged_files}
      stage_fixed: true
    lychee:
      glob: "*.md"
      run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

fix: link sqlite3 statically on windows
  .github/workflows/build.yml
  .gitignore
  README.md
  Vagrantfile
  scripts/provision.ps1
  scripts/sqlite3-static.ps1
  shard.lock
Due: lychee

fix typo
  README.md
Due: lychee

0.6.6: fix: link sqlite3 statically on windows
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

Fix clover's format name in README
  README.md
Due: lychee

Correct value for --format in README
  README.md
Due: lychee

ci: add windows tests
  .github/workflows/ci.yml
Due: none

ci: try skip postinstall on windows
  .github/workflows/ci.yml
Due: none

ci: add sqlite3 lib on windows setup
  .github/workflows/ci.yml
Due: none

fix: windows install works for ameba now
  .github/workflows/ci.yml
Due: none

fix: skip installing executables on windows
  .github/workflows/ci.yml
Due: none

fix: install shards on Windows as usual
  .github/workflows/ci.yml
Due: none

Revert "fix: install shards on Windows as usual"
  .github/workflows/ci.yml
Due: none

fix: build sqlite3 separately
  .github/workflows/ci.yml
Due: none

fix: pathname issue
  spec/coverage_reporter/parsers/simplecov_parser_spec.cr
  src/coverage_reporter/yaml_config.cr
Due: format, ameba

fix Codefresh PR number variable
  src/coverage_reporter/ci/codefresh.cr
Due: format, ameba

In clover.xml, count all method definitions once
  README.md
  spec/coverage_reporter/parsers/clover_parser_spec.cr
  spec/fixtures/clover/clover-untested-method.xml
  src/coverage_reporter/parsers/clover_parser.cr
Due: format, ameba, lychee

Flesh out using xml parser
  src/coverage_reporter/parsers/coveragepy_parser.cr
Due: format, ameba

WIP: Fixing spec
  spec/coverage_reporter/parsers/coveragepy_parser_spec.cr
  spec/coverage_reporter/parsers/coveragepy_results.yml
  src/coverage_reporter/parsers/coveragepy_parser.cr
Due: format, ameba

Update spectator
  shard.lock
Due: none

Replace the existing method of parsing the SQLite .coverage file in favor of using the Coverage.py XML reporting to get an XML file that can be parsed with the existing CoberturaParser.
  .github/workflows/ci.yml
  .gitignore
  spec/coverage_reporter/api/jobs_spec.cr
  spec/coverage_reporter/api/webhook_spec.cr
  spec/coverage_reporter/config_spec.cr
  spec/coverage_reporter/parsers/coveragepy_parser_spec.cr
  spec/coverage_reporter/parsers/coveragepy_results.yml
  spec/coverage_reporter/reporter_spec.cr
  spec/fixtures/python/.coverage
  spec/fixtures/python/conftest.py
  spec/fixtures/python/other_code/__init__.py
  spec/fixtures/python/other_code/services.py
  spec/fixtures/python/src/__init__.py
  spec/fixtures/python/src/boring_math.py
  spec/fixtures/python/src/tests/__init__.py
  spec/fixtures/python/src/tests/test_boring_math.py
  spec/fixtures/python/tests/00_empty_test.py
  spec/fixtures/python/tests/01_basic_test.py
  spec/fixtures/python/tests/02_special_assertions_test.py
  spec/fixtures/python/tests/03_simple_fixture_test.py
  spec/fixtures/python/tests/04_fixture_returns_test.py
  spec/fixtures/python/tests/05_yield_fixture_test.py
  spec/fixtures/python/tests/06_request_test.py
  spec/fixtures/python/tests/07_request_finalizer_test.py
  spec/fixtures/python/tests/08_params_test.py
  spec/fixtures/python/tests/09_params-ception_test.py
  spec/fixtures/python/tests/10_advanced_params-ception_test.py
  spec/fixtures/python/tests/11_mark_test.py
  spec/fixtures/python/tests/12_special_marks.py
  spec/fixtures/python/tests/13_mark_parametrization.py
  spec/fixtures/python/tests/14_class_based_test.py
  spec/fixtures/python/tests/15_advanced_class_test.py
  spec/fixtures/python/tests/16_scoped_and_meta_fixtures_test.py
  spec/fixtures/python/tests/17_marked_meta_fixtures.py
  spec/fixtures/python/tests/18_the_mocker_fixture.py
  spec/fixtures/python/tests/19_re_usable_mock_test.py
  spec/fixtures/python/tests/__init__.py
  spec/fixtures/python/tests/other_stuff.py
  spec/spec_helper.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
Due: format, ameba

Specify coverage directory when running kcov
  .github/workflows/ci.yml
Due: none

Fix clover's format name in README (#108)
  README.md
Due: lychee

0.6.7: Update coverage.py parser to generate XML file
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

Fix spec
  spec/coverage_reporter/config_spec.cr
Due: format, ameba

Fix pathname issues in JacocoParser spec
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
Due: format, ameba

Try updating the visual studio version number
  .github/workflows/build.yml
Due: none

Get more info for dumpbin path
  .github/workflows/build.yml
Due: none

Dynamically retrieve the path to dumpbin.exe for windows build (#118)
  .github/workflows/build.yml
Due: none

Bump version to 0.6.8
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

0.6.9: Switch back to manual coverage.py parser
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

Check for existence of coverage executable as part of matches? method
  spec/coverage_reporter/parsers/coveragepy_parser_spec.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
Due: format, ameba
