Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: crystal tool format {staged_files}
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: bin/ameba --fix {staged_files}
      stage_fixed: true
    lychee:
      glob: "*.md"
      run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

docs: add Coveralls to the parser list in CLAUDE.md
  CLAUDE.md
Due: lychee

ci: build every shipped binary with the xbuild container's Crystal
  .github/workflows/build.yml
Due: none

feat: LuaCov support (#190)
  .ameba.yml
  README.md
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/parsers/luacov_parser_spec.cr
  spec/fixtures/luacov/first-header-content-empty/luacov.report.out
  spec/fixtures/luacov/first-header-line-mismatch/luacov.report.out
  spec/fixtures/luacov/first-header-without-bottom-line/luacov.report.out
  spec/fixtures/luacov/first-header-without-content/luacov.report.out
  spec/fixtures/luacov/first-header-without-top-line/luacov.report.out
  spec/fixtures/luacov/line-info-too-many-hits/luacov.report.out
  spec/fixtures/luacov/second-header-content-empty/luacov.report.out
  spec/fixtures/luacov/second-header-line-mismatch/luacov.report.out
  spec/fixtures/luacov/second-header-without-bottom-line/luacov.report.out
  spec/fixtures/luacov/second-header-without-content/luacov.report.out
  spec/fixtures/luacov/single-file/luacov.report.out
  spec/fixtures/luacov/single-file/test.lua
  spec/fixtures/luacov/two-files/luacov.report.out
  spec/fixtures/luacov/two-files/test.lua
  src/coverage_reporter/parser.cr
  src/coverage_reporter/parsers/luacov_parser.cr
Due: format, ameba, lychee

Show trace IDs in API errors; drop 500 response-body dump
  spec/coverage_reporter/api_spec.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

docs: fix markdown lint issues in CLAUDE.md
  CLAUDE.md
Due: lychee

chore: ignore build artifacts that `git add -A` can pick up
  .gitignore
Due: none

0.6.19: Add LuaCov and RWX support
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

Show trace IDs in API error output (#185)
  spec/coverage_reporter/api_spec.cr
  src/coverage_reporter/api.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

ci: build every shipped binary with the xbuild container's Crystal (#201)
  .github/workflows/build.yml
Due: none

chore: ignore build artifacts that `git add -A` can pick up (#202)
  .gitignore
Due: none

Add CLAUDE.md project guidance file (#186)
  CLAUDE.md
Due: lychee

chore: untrack spec/fixtures/python/.coverage
  spec/fixtures/python/.coverage
  spec/fixtures/python/.gitignore
Due: none

chore: untrack spec/fixtures/python/.coverage (#204)
  spec/fixtures/python/.coverage
  spec/fixtures/python/.gitignore
Due: none

chore: ignore pytest cache in python fixtures
  spec/fixtures/python/.gitignore
Due: none

test: don't mask suite errors in after_suite teardown
  spec/spec_helper.cr
Due: format, ameba

fix(cobertura): expand condition-coverage into per-branch entries
  spec/coverage_reporter/parsers/cobertura_parser_spec.cr
  spec/fixtures/cobertura/cobertura-conditions.xml
  src/coverage_reporter/parsers/cobertura_parser.cr
Due: format, ameba

chore: keep python spec artifacts out of the working tree (#205)
  spec/fixtures/python/.gitignore
  spec/spec_helper.cr
Due: format, ameba

fix(cobertura): expand condition-coverage into per-branch entries (#206)
  spec/coverage_reporter/parsers/cobertura_parser_spec.cr
  spec/fixtures/cobertura/cobertura-conditions.xml
  src/coverage_reporter/parsers/cobertura_parser.cr
Due: format, ameba

0.6.20: Fix Cobertura parser over-reporting branch coverage
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

test: isolate jobs_spec from ambient CI env vars
  spec/coverage_reporter/api/jobs_spec.cr
Due: format, ameba

fix: pin Crystal to 1.20.3 to stop random "execution_context" crashes
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Dockerfile
Due: none

fix: replace deprecated Time.monotonic with Time.instant
  shard.yml
  src/coverage_reporter/reporter.cr
Due: format, ameba

fix: pin Crystal to 1.20.3 to stop random "execution_context" crashes (#211)
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Dockerfile
  shard.yml
  src/coverage_reporter/reporter.cr
Due: format, ameba

0.6.21: Fix random "execution_context" crashes in v0.6.19/v0.6.20 binaries
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: build with libevent event loop so binaries start in sandboxed runtimes
  .github/seccomp/no-clock-boottime.json
  .github/workflows/build.yml
  scripts/xbuild.sh
Due: none

fix: build with libevent event loop so binaries start in sandboxed runtimes (#213)
  .github/seccomp/no-clock-boottime.json
  .github/workflows/build.yml
  scripts/xbuild.sh
Due: none

0.6.22: Fix startup crash in sandboxed container runtimes (gVisor et al)
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

test: isolate jobs_spec from ambient CI env vars (#210)
  spec/coverage_reporter/api/jobs_spec.cr
Due: format, ameba

docs: correct the cause behind the libevent pin and its regression gate
  .github/seccomp/no-clock-boottime.json
  .github/workflows/build.yml
  scripts/xbuild.sh
Due: none
