Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: crystal tool format {staged_files}
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: bin/ameba --fix {staged_files}
      stage_fixed: true
    lychee:
      glob: "*.md"
      run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

Fix syntax error in ci.yml. Try to use new attributes for cross-workflow artifact sharing supported in actions/download-artifact@v4.
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Change the way run id is referenced in download step. Add more debugging steps.
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

More debugging to find out why artifact sharing between my workflows is not working.
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Try dawidd6/action-download-artifact@v3 action instead of actions/download-artifact@v4.
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Fix the branch. It should be the PR branch, not master.
  .github/workflows/build.yml
Due: none

The dawidd6/action-download-artifact@v3 approach worked, so extend it to the test-linux-aarch64 job.
  .github/workflows/build.yml
Due: none

Try dawidd6/action-download-artifact@v3 with coevrage-report.
  .github/workflows/build.yml
Due: none

Add further debug steps to understand where coverage-report from ci.yml is being uploaded.
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Try to capture filename of coverage report.
  .github/workflows/ci.yml
Due: none

Try to capture filename of coverage report. Fix syntax.
  .github/workflows/ci.yml
Due: none

Start cleaning up...
  .github/workflows/build.yml
Due: none

Continue cleanup...
  .github/workflows/build.yml
Due: none

Further cleanup...
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

More cleanup...
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Final cleanup of workflows.
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Remove separate workflows created to test binaries that are triggered by workflow_run and only run in the default branch..
  .github/workflows/test-binaries-qemu.yml
  .github/workflows/test-binaries.yml
  .github/workflows/test-trigger-workflow.yml
Due: none

Last of cleanup: we don't need to checkout the code in the test steps because we're just downloading the binaries like customers will when they use them. We aren't building anything.
  .github/workflows/build.yml
Due: none

Test Linux Binaries after they're built in CI (Cont'd) (#162)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/test-binaries-qemu.yml
  .github/workflows/test-binaries.yml
  .github/workflows/test-trigger-workflow.yml
Due: none

Test Linux Binaries after they're built in CI (Cont'd) (#164)
  .github/workflows/build.yml
Due: none

0.6.15: Add support for linux on aarch64
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

Fix release job in build.yml
  .github/workflows/build.yml
Due: none

Fix statement that creates coveralls-checksums.txt.
  .github/workflows/build.yml
Due: none

Fix statement that creates coveralls-checksums.txt (#166)
  .github/workflows/build.yml
Due: none

Update README.md
  README.md
Due: lychee

Adds support for RWX
  README.md
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/rwx.cr
  src/coverage_reporter/config.cr
Due: format, ameba, lychee

Fix: handle empty/zero-line classes in Cobertura parser + add regression tests
  .gitignore
  .python-version
  Makefile
  README.md
  spec/coverage_reporter/parsers/cobertura_parser_spec.cr
  spec/fixtures/cobertura/cobertura-empty-lines.xml
  spec/fixtures/cobertura/cobertura-zero-only.xml
  spec/spec_helper.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
Due: format, ameba, lychee

Comment out installation of kcov. Ubuntu 24.04 (noble) removed kcov from the default repos. That’s why CI can’t find it. Another option is to drop back to Ubuntu 22.04.
  .github/workflows/ci.yml
Due: none

Change python dependencies install statement in Ci workflow, and fix Codacy complaint re: Crystal syntax linter.
  .github/workflows/ci.yml
  src/coverage_reporter/parsers/cobertura_parser.cr
Due: format, ameba

Roll back Ubuntu version which supports previous step commands re: kcov and python deps.
  .github/workflows/ci.yml
  Makefile
Due: none

Forgot to swtich to make test in Run tests step to be parallel with make build in coverage step.
  .github/workflows/ci.yml
Due: none

Revert test run call in CI.yml; change to ubuntu-22.04 in all places; add debugging lines to webhook code and spec to examine test failures in CI.
  .github/workflows/ci.yml
  Makefile
  spec/coverage_reporter/api/webhook_spec.cr
  src/coverage_reporter/api/webhook.cr
Due: format, ameba

Fix debugging lines to see why webMocks are failing in CI.
  spec/coverage_reporter/api/webhook_spec.cr
  src/coverage_reporter/api/webhook.cr
Due: format, ameba

Fix tests by loosening conditions.
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/parsers/coveragepy_parser_spec.cr
Due: format, ameba

Run crystal tool format to fix linter complaints.
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/parsers/coveragepy_parser_spec.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/ci/options.cr
  src/coverage_reporter/config.cr
  src/coverage_reporter/file_report.cr
Due: format, ameba

Add pytest.ini to force pytest to only run in spec/fixtures/python/.
  spec/fixtures/python/pytest.ini
Due: none
