Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

format:
  run: crystal tool format {staged_files}
  stage_fixed: true

ameba:
  run: bin/ameba --fix {staged_files}
  stage_fixed: true

lychee:
  run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

docs: provide examples with secure download (#4)
  doc/examples/circleci.yml
  doc/examples/github-actions.yml
  doc/examples/semaphore.yml
Due: none

fix: substitute root dir only from beginning
  src/coverage_reporter/file_report.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

fix: substitute current dir only from the path start (#61)
  src/coverage_reporter/file_report.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

0.3.7: fix path substitutions in source file names
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

chore: bump crystal to 1.8.1
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Dockerfile
  Makefile
Due: none

fix: failing test because of regex changes in 1.8.1
  spec/coverage_reporter/cli/cmd_spec.cr
Due: format, ameba

fix: add missing dependencies
  Dockerfile
Due: none

chore: bump crystal to 1.8.1 (#62)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  spec/coverage_reporter/cli/cmd_spec.cr
Due: format, ameba

fix: lcov absolute paths in Windows
  src/coverage_reporter/file_report.cr
Due: format, ameba

fix: don't require repo token if calling with --dry-run
  spec/coverage_reporter/cli/cmd_spec.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

fix: lcov absolute paths in Windows (#63)
  spec/coverage_reporter/cli/cmd_spec.cr
  src/coverage_reporter/file_report.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba

0.3.8: update Crystal upto 1.8.1
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: use Crystal 1.7.3
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  spec/coverage_reporter/cli/cmd_spec.cr
  src/coverage_reporter/parsers/golang_parser.cr
Due: format, ameba

fix: use Crystal 1.7.3 (#66)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  spec/coverage_reporter/cli/cmd_spec.cr
  src/coverage_reporter/parsers/golang_parser.cr
Due: format, ameba

0.3.9: downgrade to Crystal 1.7.3
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

chore: upgrade to Crystal 1.8
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Dockerfile
  Makefile
Due: none

fix: apply MATCH_INVALID_UTF flag
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
Due: format, ameba

chore: upgrade to Crystal 1.8 (#67)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
Due: format, ameba

chore: use just Crystal 1.8 version
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Makefile
Due: none

chore: use shards build instead of crystal build
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Makefile
  shard.yml
Due: none

chore: use Crystal 1.8 version (#69)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Makefile
  shard.yml
Due: none

fix: use CIRCLE_BUILD_NUM instead of CIRCLE_WORKFLOW_ID
  src/coverage_reporter/ci/circle_ci.cr
Due: format, ameba

fix: update spec for change in behavior
  spec/coverage_reporter/config_spec.cr
Due: format, ameba

0.4.0: update Crystal version to 1.8
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

chore: refactor aliases usage
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

chore: refactor aliases usage (#73)
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

feat: add carryforward option to config
  src/coverage_reporter/config.cr
  src/coverage_reporter/reporter.cr
  src/coverage_reporter/yaml_config.cr
Due: format, ameba

docs: add carryforward option to docs
  doc/configuration.md
Due: lychee

feat: add carryforward option to config (#74)
  doc/configuration.md
  src/coverage_reporter/config.cr
  src/coverage_reporter/reporter.cr
  src/coverage_reporter/yaml_config.cr
Due: format, ameba, lychee

fix: support oneline xml files
  spec/coverage_reporter/parsers/cobertura_parser_spec.cr
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
  spec/fixtures/cobertura/cobertura-oneline.xml
  spec/fixtures/jacoco/jacoco-oneline-report.xml
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
Due: format, ameba

fix: support oneline xml files (#75)
  spec/coverage_reporter/parsers/cobertura_parser_spec.cr
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
  spec/fixtures/cobertura/cobertura-oneline.xml
  spec/fixtures/jacoco/jacoco-oneline-report.xml
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
Due: format, ameba

0.4.1: fix oneline XML reports matching
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: show git errors
  Makefile
  src/coverage_reporter/git.cr
Due: format, ameba

fix: allow no branches in simplecov format
  spec/coverage_reporter/parsers/simplecov_parser_spec.cr
  spec/fixtures/simplecov/with-only-lines.resultset.json
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

fix: allow no branches in simplecov format (#78)
  spec/coverage_reporter/parsers/simplecov_parser_spec.cr
  spec/fixtures/simplecov/with-only-lines.resultset.json
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

0.4.2: fix simplecov reports parsing
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: colorize errors
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/git.cr
  src/coverage_reporter/log.cr
Due: format, ameba

fix: use yellow color for warnings
  src/coverage_reporter/git.cr
  src/coverage_reporter/log.cr
Due: format, ameba

fix: use warn where warning is logged
  src/coverage_reporter/parser.cr
Due: format, ameba

fix: show git errors (#77)
  Makefile
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/git.cr
  src/coverage_reporter/log.cr
  src/coverage_reporter/parser.cr
Due: format, ameba

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  lychee: any of: *.md
