Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

format:
  run: crystal tool format {staged_files}
  stage_fixed: true

ameba:
  run: bin/ameba --fix {staged_files}
  stage_fixed: true

lychee:
  run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

Commit static .coverage fixture for deterministic Python parser tests
  .gitignore
  spec/fixtures/python/.coverage
Due: none

Stabilize parser specs and Makefile: remove pytest run, filter coverage noise
  Makefile
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/parsers/coveragepy_parser_spec.cr
Due: format, ameba

Remove debugging code.
  spec/coverage_reporter/api/webhook_spec.cr
  src/coverage_reporter/api/webhook.cr
Due: format, ameba

Fix: handle empty/zero-line classes in Cobertura parser + add regression tests (#177)
  .github/workflows/ci.yml
  .gitignore
  .python-version
  Makefile
  README.md
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/parsers/cobertura_parser_spec.cr
  spec/coverage_reporter/parsers/coveragepy_parser_spec.cr
  spec/fixtures/cobertura/cobertura-empty-lines.xml
  spec/fixtures/cobertura/cobertura-zero-only.xml
  spec/fixtures/python/.coverage
  spec/fixtures/python/pytest.ini
  spec/spec_helper.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/ci/options.cr
  src/coverage_reporter/config.cr
  src/coverage_reporter/file_report.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
Due: format, ameba, lychee

0.6.16: Handle empty/zero-line classes in Cobertura parser
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

Update crystal version to 1.17 to incorporate xml shard fixes causing segfault on macos 15.4+.
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Dockerfile
  shard.yml
Due: none

Update crystal version to 1.17. (#178)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Dockerfile
  shard.yml
Due: none

Relax matcher on flaky spec using Webmock.
  spec/coverage_reporter/api/webhook_spec.cr
Due: format, ameba

0.6.17: Update crystal version to 1.17
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

Update README with help, contributing, and license sections
  README.md
Due: lychee

Add open-source promise and integration details to README
  README.md
Due: lychee

Update README for clarity on open-source offerings
  README.md
Due: lychee

Update copyright year in LICENSE file
  LICENSE
Due: none

WIP: capture and display trace IDs in API error output
  src/coverage_reporter/api.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

Add CLAUDE.md project guidance file
  CLAUDE.md
Due: lychee

Stop relying on undocumented HTTP::Headers#to_json in debug log
  spec/coverage_reporter/api/jobs_spec.cr
  src/coverage_reporter/api/jobs.cr
Due: format, ameba

spec(fixtures): add LuaCov files
  spec/fixtures/luacov/first-header-content-empty/luacov.report.out
  spec/fixtures/luacov/first-header-line-mismatch/luacov.report.out
  spec/fixtures/luacov/first-header-without-bottom-line/luacov.report.out
  spec/fixtures/luacov/first-header-without-content/luacov.report.out
  spec/fixtures/luacov/first-header-without-top-line/luacov.report.out
  spec/fixtures/luacov/line-info-too-many-hits/luacov.report.out
  spec/fixtures/luacov/second-header-content-empty/luacov.report.out
  spec/fixtures/luacov/second-header-line-mismatch/luacov.report.out
  spec/fixtures/luacov/second-header-without-bottom-line/luacov.report.out
  spec/fixtures/luacov/second-header-without-content/luacov.report.out
  spec/fixtures/luacov/single-file/luacov.report.out
  spec/fixtures/luacov/single-file/test.lua
  spec/fixtures/luacov/two-files/luacov.report.out
  spec/fixtures/luacov/two-files/test.lua
Due: none

spec: add LuaCov context to parser_spec
  spec/coverage_reporter/parser_spec.cr
Due: format, ameba

spec: add luacov_parser_spec
  spec/coverage_reporter/parsers/luacov_parser_spec.cr
Due: format, ameba

refactor: add LuaCovParser to the list of available parsers
  src/coverage_reporter/parser.cr
Due: format, ameba

docs(README): include LuaCov
  README.md
Due: lychee

lint: exclude cyclomatic complexity for LuaCov
  .ameba.yml
Due: none

feat: add a parser to LuaCov reports
  src/coverage_reporter/parsers/luacov_parser.cr
Due: format, ameba

fix: use a descriptive block parameter in `luacov_parser_spec`
  spec/coverage_reporter/parsers/luacov_parser_spec.cr
Due: format, ameba

Fix simplecov parser failing on float timestamps
  spec/coverage_reporter/parsers/simplecov_parser_spec.cr
  spec/fixtures/simplecov/float-timestamp.resultset.json
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

Remove unused MacOS cross-compilation from xbuild container
  Dockerfile
  scripts/homebrew-downloader.cr
  scripts/xbuild.sh
Due: format, ameba

Fix ASCII art alignment
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

Remove unused MacOS cross-compilation from xbuild container (#192)
  Dockerfile
  scripts/homebrew-downloader.cr
  scripts/xbuild.sh
Due: format, ameba

Fix simplecov parser failing on float timestamps (#191)
  spec/coverage_reporter/parsers/simplecov_parser_spec.cr
  spec/fixtures/simplecov/float-timestamp.resultset.json
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

0.6.18: Fix simplecov parser failing on float timestamps
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

Fix homebrew formula bump: upgrade bump-formula action v3 -> v8
  .github/workflows/build.yml
Due: none

Fix homebrew formula bump: upgrade bump-formula action v3 -> v8 (#194)
  .github/workflows/build.yml
Due: none

Add Dependabot for GitHub Actions and Docker base image
  .github/dependabot.yml
Due: none

Add Dependabot for GitHub Actions and Docker base image (#195)
  .github/dependabot.yml
Due: none

Fix order-dependent flakiness in webhook specs
  spec/coverage_reporter/api/webhook_spec.cr
  spec/coverage_reporter/config_spec.cr
  spec/support/env_helper.cr
Due: format, ameba

Fix order-dependent flakiness in webhook specs (#179)
  spec/coverage_reporter/api/webhook_spec.cr
  spec/coverage_reporter/config_spec.cr
  spec/support/env_helper.cr
Due: format, ameba

Fix RWX spec expectations and env var cleanup
  spec/coverage_reporter/config_spec.cr
  spec/support/env_helper.cr
Due: format, ameba

Stop relying on undocumented HTTP::Headers#to_json in debug log (#188)
  spec/coverage_reporter/api/jobs_spec.cr
  src/coverage_reporter/api/jobs.cr
Due: format, ameba

Adds support for RWX (#171)
  README.md
  spec/coverage_reporter/config_spec.cr
  spec/support/env_helper.cr
  src/coverage_reporter/ci/rwx.cr
  src/coverage_reporter/config.cr
Due: format, ameba, lychee

fix(luacov): drop separator line, fix mislabeled fixture, guard matches?
  spec/coverage_reporter/parsers/luacov_parser_spec.cr
  spec/fixtures/luacov/second-header-content-empty/luacov.report.out
  src/coverage_reporter/parsers/luacov_parser.cr
Due: format, ameba

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  lychee: any of: *.md
