Repository coverallsapp/coverage-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, lychee

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.cr"
      run: crystal tool format {staged_files}
      stage_fixed: true
    ameba:
      glob: "*.cr"
      run: bin/ameba --fix {staged_files}
      stage_fixed: true
    lychee:
      glob: "*.md"
      run: lychee --exclude-path coverage/ --exclude-path lib/ --exclude-path docs/ {staged_files}

feat: support coveralls format feat: support coveralls format
  README.md
  spec/coverage_reporter/parsers/coveralls_parser_spec.cr
  spec/fixtures/coveralls/coveralls.json
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/coveralls_parser.cr
Due: format, ameba, lychee

feat: support coveralls format (#79)
  README.md
  spec/coverage_reporter/parsers/coveralls_parser_spec.cr
  spec/fixtures/coveralls/coveralls.json
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/coveralls_parser.cr
Due: format, ameba, lychee

0.4.3: git errors and coveralls format support
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: don't send all files in header
  spec/coverage_reporter/api/jobs_spec.cr
  src/coverage_reporter/api/jobs.cr
Due: format, ameba

fix: don't send all files in header (#81)
  spec/coverage_reporter/api/jobs_spec.cr
  src/coverage_reporter/api/jobs.cr
Due: format, ameba

0.4.4: fix reporting with many files
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: support globs for base path
  src/coverage_reporter/file_report.cr
  src/coverage_reporter/parsers/base_parser.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/parsers/coveralls_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

fix: windows build
  .github/workflows/build.yml
  src/coverage_reporter/file_report.cr
Due: format, ameba

fix: add tests on windows
  .github/workflows/ci.yml
Due: none

feat: add test on glob base_path
  .github/workflows/ci.yml
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
  spec/fixtures/jacoco/jacoco-report-multiple-packages.xml
  spec/fixtures/jacoco/sources/jacoco-project-1/com/proj1/Info.java
  spec/fixtures/jacoco/sources/jacoco-project-1/com/proj1/MessageBuilder.java
  spec/fixtures/jacoco/sources/jacoco-project-2/com/proj2/MessageService.java
Due: format, ameba

docs: update documentation
  doc/development.md
  src/coverage_reporter/parsers/base_parser.cr
Due: format, ameba, lychee

feat: support globs for base path (#84)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  doc/development.md
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
  spec/fixtures/jacoco/jacoco-report-multiple-packages.xml
  spec/fixtures/jacoco/sources/jacoco-project-1/com/proj1/Info.java
  spec/fixtures/jacoco/sources/jacoco-project-1/com/proj1/MessageBuilder.java
  spec/fixtures/jacoco/sources/jacoco-project-2/com/proj2/MessageService.java
  src/coverage_reporter/file_report.cr
  src/coverage_reporter/parsers/base_parser.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/parsers/coveralls_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba, lychee

0.4.5: support globs in --base-path parameter
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: use unsigned integer for hits
  spec/coverage_reporter/api/jobs_spec.cr
  spec/coverage_reporter/parsers/cobertura_parser_spec.cr
  spec/coverage_reporter/parsers/coveralls_parser_spec.cr
  spec/coverage_reporter/parsers/golang_parser_spec.cr
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
  spec/coverage_reporter/parsers/lcov_parser_spec.cr
  spec/coverage_reporter/parsers/simplecov_parser_spec.cr
  src/coverage_reporter/file_report.cr
  src/coverage_reporter/parsers/base_parser.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/parsers/coveralls_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

chore: add test on bug number
  spec/coverage_reporter/parsers/lcov_parser_spec.cr
  spec/fixtures/lcov/coverage/test.lcov
  spec/fixtures/lcov/for-base-path-lcov
  spec/fixtures/lcov/test-current-folder.lcov
  spec/fixtures/lcov/test.lcov
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

fix: use unsigned integer for hits (#86)
  spec/coverage_reporter/api/jobs_spec.cr
  spec/coverage_reporter/parsers/cobertura_parser_spec.cr
  spec/coverage_reporter/parsers/coveralls_parser_spec.cr
  spec/coverage_reporter/parsers/golang_parser_spec.cr
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
  spec/coverage_reporter/parsers/lcov_parser_spec.cr
  spec/coverage_reporter/parsers/simplecov_parser_spec.cr
  spec/fixtures/lcov/coverage/test.lcov
  spec/fixtures/lcov/for-base-path-lcov
  spec/fixtures/lcov/test-current-folder.lcov
  spec/fixtures/lcov/test.lcov
  src/coverage_reporter/file_report.cr
  src/coverage_reporter/parsers/base_parser.cr
  src/coverage_reporter/parsers/cobertura_parser.cr
  src/coverage_reporter/parsers/coveragepy_parser.cr
  src/coverage_reporter/parsers/coveralls_parser.cr
  src/coverage_reporter/parsers/gcov_parser.cr
  src/coverage_reporter/parsers/golang_parser.cr
  src/coverage_reporter/parsers/jacoco_parser.cr
  src/coverage_reporter/parsers/lcov_parser.cr
  src/coverage_reporter/parsers/simplecov_parser.cr
Due: format, ameba

0.4.6: use UInt64 for hits to allow bigger numbers
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: add explicit commands
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

feat: allow passing multiple coverage files
  README.md
  spec/coverage_reporter/cli/cmd_spec.cr
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/reporter_spec.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/parser.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba, lychee

fix: test other options
  README.md
  spec/coverage_reporter/cli/cmd_spec.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba, lychee

fix: more clean method signature
  src/coverage_reporter/parsers/base_parser.cr
Due: format, ameba

fix: use coveralls done instead of --done
  README.md
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/parser.cr
Due: format, ameba, lychee

chore: add a warning for parallel jobs without build number
  src/coverage_reporter/api/jobs.cr
Due: format, ameba

chore: change version help
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

chore: fix tests to be more real
  spec/coverage_reporter/cli/cmd_spec.cr
Due: format, ameba

feat: add explicit commands (#83)
  README.md
  spec/coverage_reporter/cli/cmd_spec.cr
  spec/coverage_reporter/parser_spec.cr
  spec/coverage_reporter/reporter_spec.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/cli/cmd.cr
  src/coverage_reporter/parser.cr
  src/coverage_reporter/parsers/base_parser.cr
  src/coverage_reporter/reporter.cr
Due: format, ameba, lychee

0.5.0: add explicit commands
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

fix: auto find more cobertura reports
  spec/coverage_reporter/parsers/cobertura_parser_spec.cr
  spec/coverage_reporter/parsers/gcov_parser_spec.cr
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
  spec/coverage_reporter/parsers/lcov_parser_spec.cr
  spec/coverage_reporter/parsers/simplecov_parser_spec.cr
  spec/fixtures/cobertura/cobertura-coverage.xml
  src/coverage_reporter/parsers/cobertura_parser.cr
Due: format, ameba

fix: auto find more cobertura reports (#87)
  spec/coverage_reporter/parsers/cobertura_parser_spec.cr
  spec/coverage_reporter/parsers/gcov_parser_spec.cr
  spec/coverage_reporter/parsers/jacoco_parser_spec.cr
  spec/coverage_reporter/parsers/lcov_parser_spec.cr
  spec/coverage_reporter/parsers/simplecov_parser_spec.cr
  spec/fixtures/cobertura/cobertura-coverage.xml
  src/coverage_reporter/parsers/cobertura_parser.cr
Due: format, ameba

0.5.1: extend Cobertura reports discovery glob
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: pass github run attempt
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/github.cr
  src/coverage_reporter/ci/options.cr
Due: format, ameba

chore: rename param to service_attempt
  spec/coverage_reporter/cli/cmd_spec.cr
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/github.cr
  src/coverage_reporter/ci/options.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

feat: pass github run attempt (#88)
  spec/coverage_reporter/cli/cmd_spec.cr
  spec/coverage_reporter/config_spec.cr
  src/coverage_reporter/ci/github.cr
  src/coverage_reporter/ci/options.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

0.5.2: pass run attempt
  shard.yml
  src/coverage_reporter.cr
Due: format, ameba

feat: gzip payloads
  spec/coverage_reporter/api/jobs_spec.cr
  src/coverage_reporter/api/jobs.cr
Due: format, ameba

fix: use Crystal http client
  .ameba.yml
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

fix: use stdlib http client
  shard.lock
  shard.yml
  spec/coverage_reporter/api/jobs_spec.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/api/webhook.cr
Due: format, ameba

chore: small improvements
  spec/coverage_reporter/api/jobs_spec.cr
  src/coverage_reporter/api.cr
  src/coverage_reporter/api/jobs.cr
  src/coverage_reporter/cli/cmd.cr
Due: format, ameba

chore: add tests on failing response
  spec/coverage_reporter/api/jobs_spec.cr
  src/coverage_reporter/api.cr
Due: format, ameba
